body {
    background: palegoldenrod;
    margin: 0;
}

nav {
    background: khaki;
    height: 150px;
    border-bottom: 2px black solid;
    border-top: 2px black solid;
}

/*позиционирование ссылок в шапке*/
.one {
    position: absolute;
    left: 300px;
    top: 45px;
}

.two {
    position: absolute;
    right: 300px;
    top: 45px;
}

a {
    text-decoration: none;
    color: black;
    font-size: 40px;
    transition: 1s;
}

/*анимация в шапке*/
a:hover {
    color: crimson;
    font-size: 60px;
    transition: 1s;

}

/* Основная инфа */
.main_boss {
    display: flex;
}

/* Левая часть */
.mainL {
    display: grid;
    width: 80%;
    margin: 2%;
}

/* Катинка E3 and GITHub bot */
#ethree, #GITHub {
    width: auto;
    border-radius: 20px;
}

/* Допники к левой и правой части */
.mainL_item1, .mainR_item1 {
    width: 100%;
    height: 110%;
    text-align: justify;
    margin-bottom: 3%;
}

/* Правая часть */
.mainR {
    display: grid;
    width: 80%;
    margin: 2%;
}

footer {
    background: beige;
    position: inherit;
    margin: 0;
    width: 100vw;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-top: 2px black solid;
}


.testAn {
    transition: 1s;
    font-size: 20px;
    font-weight: 900;
}

/*анимация имен в подвале*/

.testAn:hover {
    transform: rotate(360deg);
    transition: 2s;
}