/* body {
    background: palegoldenrod;
    margin: 0;
} */

body {
    background: linear-gradient(-45deg, #9ff7a1, #4fca33, #4a7ddc, #9b61e7);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

nav {
    /* background: khaki; */
    width: 100%;
    height: 150px;
    position: 0;
    margin-top: -1%;
    border-bottom: 2px rgba(0, 0, 0, 0.4) solid;
    /* border-top: 2px black solid; */
}

/*позиционирование ссылок в шапке*/
.one {
    position: absolute;
    left: 300px;
    top: 45px;
}

.two {
    position: absolute;
    right: 300px;
    top: 45px;
}

a {
    text-decoration: none;
    color: black;
    font-size: 40px;
    transition: 1s;
}

/*анимация в шапке*/
a:hover {
    color: crimson;
    font-size: 60px;
    transition: 1s;

}

/* Основная инфа */
.main_boss {
    display: flex;
}

/* Левая часть */
.mainL {
    display: grid;
    grid-template: 6% 1fr / 1fr;
    width: 80%;
    margin: 2%;
}

span {
    width: 100%;
    height: 5%;
}

/* Катинка E3 and GITHub bot */
#ethree, #GITHub {
    width: auto;
    border-radius: 20px;
}

/* Допники к левой и правой части */
.mainL_item1, .mainR_item1 {
    width: 100%;
    height: 110%;
    text-align: justify;
    margin-bottom: 3%;
    grid-template: 1fr 1fr / 1fr;
}

/* Правая часть */
.mainR {
    display: grid;
    grid-template: 6% 1fr / 1fr;
    width: 80%;
    margin: 2%;
}

/* Стили к раззделу "Картинки" */
.grid {
    display: grid;
    margin: 5%;
    width: 90%;
    grid-template: 1fr 1fr 1fr 1fr/ 1fr 1fr 1fr 1fr;
}

.img_txt {
    background-color: black;
    width: 20%;
    height: 20%;
}

/* Конец стилей "Картинки" */


footer {
    background: rgba(113, 113, 113, 0.504);
    position: inherit;
    margin: -1%;
    position: 0;
    width: 100vw;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-align: 20px;
    border-top: 2px rgba(251, 251, 251, 0.53) solid;
}


.testAn {
    transition: 1s;
    font-size: 20px;
    font-weight: 900;
}

/*анимация имен в подвале*/

.testAn:hover {
    transform: rotate(360deg);
    transition: 2s;
}